* {
    box-sizing: border-box;
    font-family: 'Josefin sans';

}

/*Front main*/

.nav-bar {
    background-color: #4DB1C9;
    text-align: left;
    text-align: center;
    margin: 0;

}

.nav-bar ul {
    display: inline-flex;
    list-style: none;
    color: white;

}

.nav-bar ul li {

    width: 100px;
    margin: 5px;

}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
}

/*Front main*/


.front-main{
    width: 100vw;
    height: 30vh;
    background-color: rgba(77, 177, 201, 0.8);
    text-align: center;
    color: black;
    font-size: large;
    padding-top: 10px;
}

 
/*Pricing*/

.column-pricing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    height: 300px;
    margin: 10px;

}

.Pricing>div>h2 {
    text-align: center;
}

.column-pricing>div:nth-child(2) {}

.column-pricing>div:nth-child(1) {
    position: relative;
    left: 32%;
    top: 20%;

}

.column-pricing>div:nth-child(3) {
    position: relative;
    right: 32%;
    top: 20%;
}

.column-pricing-child {
    width: 300px;
    height: 200px;
    border: 1px solid rgba(77, 177, 201, 0.8);
    border-radius: 5px;
    margin: 20px;
    background-color: rgba(77, 177, 201, 0.8);

}

.column-pricing-child>h2 {
    text-align: center;
}

.column-pricing-child button {
    justify-content: center;
    margin: 20px;

}

#orderbtn {
    background-color: #129ebc;
    border: 1px solid;
    border-radius: 5px;
    width: 120px;
    padding: 5px;
    text-align: center;
    color: white;
}

#orderbtn:hover {
    color: black;
}


/*Suppliers info*/

/*reviews*/

.donationsect {
    height: 500px;
    background-color: rgba(77, 177, 201, 0.8);
}

.donationsect>h2 {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: space-between;
    margin: 20px;
}

.container>div>p {
    margin-left: 20px;
    text-align: center;
}

#imgdonation {
    border-radius: 5px;
    margin-top: 0;


}

/*====== FOOTER SECTION  ==========*/
.footer {
    margin-top: 10px;
    background-color: whitesmoke;
}

#pfooter {
    font-size: x-large;
    font-weight: bolder;
    margin: 10px;
}

.footerimg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
}

#footer-img {
    width: 90px;
    height: 50px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5em;


}

.footer-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    gap: 1em;
    background-color: rgba(77, 177, 201, 0.9);
    width: 100wh;
    height: 220px;
    margin: 0px;
    color: rgb(7, 5, 5);
    text-align: center;
}

.footer-bar>div {
    line-height: 25px;
}

.footer-bar>div>p>a {
    text-decoration: none;

}

.footer-bar>div>p>a:hover {
    cursor: zoom-in;
}