* {
    font-family: "Josefin sans";
    padding:0;
    margin:0;
}

/*======LINKS==========*/


/*======MAIN CONTAINER==========*/


/*====== NAVIGATION SECTION  ==========*/
.navigation-bar{
    background-color: #129ebc;
    opacity: 80%;
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    color: aliceblue;
    height:40px;
}

.navigation-bar li a{
    color: white;
    text-decoration: none;
    font-family:'Poppins',sans-serif;
    font-weight: 900;
    padding:5px 20px;
}

.navigation-bar li ul{
    display:none;
}

.navigation-bar li:hover ul{
    display:grid;
    position:relative;
    top:50px;
}

.navigation-bar li ul li{
    list-style:none;
    background-color: #129ebc;
    padding:5px 10px;
    border:1px solid #c4c4c4;
}

.navigation-bar li ul li a{
    color:white;
}

.btn1{
    background-color: white;
    border:none;
    padding:10px 20px;
    font-weight:800;
    text-decoration:none;
    color:black
}




/*====== HOME SECTION  ==========*/
.home-bar {
    background-image: url("../images/4227423.jpg");
    background-size: cover;
    display: grid;
    align-content: space-around;
    height: 100vh;
    font-family:'Poppins',sans-serif;
}

.home{
    display:grid;
    align-content:space-evenly;
    justify-content:center;
    height:300px;
    width:450px;
    margin-left:100px;
}

.home h1 {
    font-size: xx-large;
    color:#585858;
}

.home p {
    font-size: larger;
    color:#747474;
}

.home button {
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-weight:800;
    background-color: #219EBC;
    color: white;
    border: none;
}

/*======  ABOUT SECTION ==========*/

.about-bar-container {
    display: grid;
}

.about-bar-cards {
    display: flex;
    justify-content: space-around;
    margin-top:50px;
}

.about-bar-cards-reverse {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-top:50px;
}

.about-bar-image>img {
    width: 300px;
    height: 300px;
}

.about-bar-text {
    display: grid;
    align-items: flex-end;
    height: 300px;
    width: 400px;
}

.about-bar-text > p{
    color:#219dbcda;
}

.about-bar-text>h2 {
    font-size: 32px;
    font-weight: 300;
}

.about-bar-text>h4 {
    font-weight: 400;
    color:#747474;
}

.about-bar-text>button {
    padding: 10px 5px;
    width: 100px;
    background-color: #219EBC;
    color: white;
    border: none;
}

.about-bar-text>button:hover {
    background-color: #219dbcda;
}

/*====== SERVICES SECTION  ==========*/
.services {
    background-color: whitesmoke;

}
.services > h2{
    text-align: center;
    padding-top: 2%;
}

.services-bar {
    display:flex;
    justify-content:center;
    gap: 2em;
    height: 410px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    
}

.services-bar > div{
    display:grid;
    align-content:space-between;
    height:300px;
    width:300px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.services-bar > div > h2 {
    font-family:'Actor';
    font-size:18px;
    text-align:start;
}
.services-bar > div > p{
    width:200px;
    font-size:14px;
    text-align:center;
}

.services-card-text{
    display: flex;
    justify-content:space-around;
}

#img {
    width: 300;
    height: 200;
    border-radius: 5px;
}
/*====== FOOTER SECTION  ==========*/
.footer {
    margin-top: 10px;
    background-color: whitesmoke;
}

#pfooter {
    font-size: x-large;
    font-weight: bolder;
    margin: 10px;
}

.footerimg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
}

#footer-img {
    width: 90px;
    height: 50px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: .5em;


}

.footer-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.774);
    width: 100wh;
    height: 200px;
    margin: auto 5px;
    color: white;
    text-align: center;
}

.footer-bar > div{
    line-height:25px;
}

.footer-bar > div > p > a{
    text-decoration:none;
    color:white;
}

@media(max-width:1230px){
    .services-bar div{
        display:flex;
        flex-direction:column;
    }
}

@media(max-width:1024px){
    .services-bar{
        flex-wrap:wrap;
    }
    .services-bar > div{
        width:250px;
        flex-wrap:wrap;
    }

    #img{
        width:250px;
    }
}
@media(max-width:1000px){
    .services{
        height:700px;
    }
}
@media(max-width:870px){
    .about-bar-cards{
        flex-direction:column;
        align-items:center;
    }
    .about-bar-cards-reverse{
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media(max-width:685px){
    .services{
        height:1000px;
    }
    .home{
        margin-left:50px;
    }
    .home h1{
        font-size:32px;
    }
}
@media(max-width:425px){
    .home h1{
        font-size:24px;
        width:80%;
    }

    .home p{
        width:80%;
    }
    .footer-bar{
        height:400px;
    }
}
